@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  src: url(../fonts/Heebo-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: Heebo, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 27px;
  padding-bottom: 100px;
}

.header-nav .nav-item {
  font-weight: 500;
  font-size: 20px;
  padding-right: 40px;
}

.hero-section {
  display: flex;
  padding-bottom: 100px;
}

.hero-section .hero-content {
  flex-basis: 50%;
  padding-left: 148px;
}

.hero-section .hero-avatar {
  flex-basis: 50%;
  text-align: center;
}

.hero-section .hero-content h1,
.hero-section .hero-content p {
  margin-bottom: 20px;
}

.hero-section .dowload-resume {
  font-size: 20px;
  background-color: #ff6464;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
}

.recent-posts {
  background-color: #edf7fa;
  padding-bottom: 30px;
  padding-left: 148px;
  padding-right: 148px;
}

.recent-title {
  display: flex;
  justify-content: space-between;
}

.recent-posts .recent-title .title {
  font-size: 22px;
}

.recent-posts .recent-title .view-more-post {
  color: #00a8cc;
}

.recent-posts .recent-title .title,
.view-more-post {
  margin: 30px 0;
}

.container-recents {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container-recents .recents-item {
  background-color: #ffffff;
  flex-grow: 1;
  border-radius: 10px;
}

.container-recents .recents-item h2,
.container-recents .recents-item p {
  margin: 20px 0;
  margin-left: 20px;
}

.futured-works {
  padding: 40px 148px;
}

.futured-works .post {
  display: flex;
  gap: 30px;
  padding: 40px 0;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(221, 221, 221);
}

.futured-works .futured-works-title {
  font-size: 22px;
}

.futured-works .post .post-content .content-name {
  font-weight: 700;
  font-size: 30px;
}

.futured-works .post .post-content div {
  margin-bottom: 15px;
}

.futured-works .post .post-content span:nth-child(1) {
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 1px 10px;
  border-radius: 15px;
}

.futured-works .post .post-content span:nth-child(2) {
  margin-left: 20px;
  font-size: 20px;
  color: #8695a4;
}

.footer {
  padding: 100px 148px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .social-logo {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.footer .copy-right {
  font-size: 14px;
}

.nav-item-active a {
  color: #ff6464 !important;
}

.container-blog {
  padding: 0 148px;
}

.blog-title {
  font-weight: 700;
  font-size: 44px;
}

.title-post {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tag-blog {
  font-size: 20px;
  margin-bottom: 10px;
}

.tag-blog span:nth-child(2) {
  color: #8695a4;
}

.post-blog {
  padding: 20px 0;
}

.work-details-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.work-details-tag {
  font-size: 20px;
  margin-bottom: 20px;
}

.work-details-tag span:nth-child(1) {
  background-color: #ff6464;
  padding: 1px 10px;
  border-radius: 15px;
  color: #fff;
}

.container-blog p:nth-child(1) {
  margin-bottom: 40px;
}

.work-details-img {
  margin-bottom: 50px;
}
